.mat-card {
    margin: 20px;
}


.card-layout {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align cards to the bottom */
    /*height: 300px; !* Adjust the height as needed *!*/
}

.card {
    transform-origin: bottom center;
    margin: 0 -18px;
    height: 170px;
    width: 50px;
}

/*todo poslednji width se koristi za hand karte*/

