.mat-card {
    margin: 20px;
}

.card-layout {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align cards to the bottom */
}

.highlighted {
    border: #eaea04 5px solid;
    border-radius: 10px;
}

.card {
    transform-origin: bottom center;
    margin-bottom: 40px;
    padding: 2px;
}
