<mat-card>
    <mat-card-content>
        <div class='card-layout' style="display: flex"  fxLayout='row wrap' fxLayoutGap="20px">
<!--            <div  *ngFor="let card of gameEngineService.playerHands.get(this.rowPlayerNumber); let i = index"  fxFlex="90px">-->
            <div *ngFor="let card of gameEngineService.cardsTestHand; let i = index" fxFlex="90px">
<!--                <doc-card class="hand" [card]='card' [covered]="covered" [style.transform]="calculateRotation(i)" cdkDrag></doc-card>-->
                <doc-card class="card" [card]='card' [covered]="covered"
                          [style.transform]="calculateRotation(i)"
                          (cdkDragEnded)= "positionDetection($event, card)"
                          (cdkDragStarted)="showDropArea($event)"
                          cdkDrag></doc-card>
            </div>
        </div>
    </mat-card-content>

<!-- todo stavi ovo umesto testa  gameEngineService.playerHands.get(rowPlayerNumber)  -->

</mat-card>
