<!--<p>DECK TEST</p>-->

<mat-card *ngIf="visible">
<!--    <mat-card-header>-->
<!--        <mat-card-title>Your hand</mat-card-title>-->
<!--        <mat-card-subtitle>Your randomly selected cards.</mat-card-subtitle>-->
<!--    </mat-card-header>-->

    <mat-card-content>
        <div style="display: flex;"  fxLayout='row wrap' fxLayoutGap="20px" class='card-layout' [@cardAnimation]="this.gameEngineService.playerTables.get(this.rowPlayerNumber)!.length">
            <div  *ngFor="let card of this.gameEngineService.playerTables.get(this.rowPlayerNumber)" fxFlex="90px">
                <doc-card class="hand" [card]='card' [covered]="covered"></doc-card>
            </div>
        </div>
    </mat-card-content>

<!-- todo stavi ovo umesto testa  gameEngineService.playerTables.get(rowPlayerNumber)  -->

</mat-card>
