<!--<p>THIS IS A ROOM {{gameAction.roomKey}}</p>-->

<div class="full-border">
    <div>CURRENT PLAYERS TURN = {{this.gameEngineService.currentPlayersTurn}}</div >

    <div class="center-container" cdkDropListGroup>

        <app-card-row id="table-0"
                      *ngIf="visible[0]"
                      class="table-cards-{{this.cardPositionOnScreen[0]}} table-border">
        </app-card-row>
        <app-card-row id="table-1"
                      *ngIf="visible[1]"
                      class="table-cards-{{this.cardPositionOnScreen[1]}} table-border">
        </app-card-row>
        <app-card-row id="table-2" fxflex="90"
                      *ngIf="visible[2]"
                      class="table-cards-{{this.cardPositionOnScreen[2]}} table-border">
        </app-card-row>
        <app-card-row id="table-3"
                      *ngIf="visible[3]"
                      class="table-cards-{{this.cardPositionOnScreen[3]}} table-border">
        </app-card-row>


        <app-card-hand id="hand-0"
                       *ngIf="visible[0]"
                       (cdkDragStartedEvent)="cdkDragStartedFun()"
                       (cdkDragStoppedEvent)="cdkDragStoppedFun($event)"
                       class="player-hand-{{this.cardPositionOnScreen[0]}} hover-cursor">
        </app-card-hand>
        <app-card-hand id="hand-1"
                       *ngIf="visible[1]"
                       (cdkDragStartedEvent)="cdkDragStartedFun()"
                       (cdkDragStoppedEvent)="cdkDragStoppedFun($event)"
                       class="player-hand-{{this.cardPositionOnScreen[1]}} hover-cursor">
        </app-card-hand>
        <app-card-hand id="hand-2"
                       *ngIf="visible[2]"
                       (cdkDragStartedEvent)="cdkDragStartedFun()"
                       (cdkDragStoppedEvent)="cdkDragStoppedFun($event)"
                       class="player-hand-{{this.cardPositionOnScreen[2]}} hover-cursor">
        </app-card-hand>
        <app-card-hand id="hand-3"
                       *ngIf="visible[3]"
                       (cdkDragStartedEvent)="cdkDragStartedFun()"
                       (cdkDragStoppedEvent)="cdkDragStoppedFun($event)"
                       class="player-hand-{{this.cardPositionOnScreen[3]}} hover-cursor">
        </app-card-hand>


        <div id="center" class="center-drop-area center-border" ></div>

    </div>





<!-- todo zameni deck_test za pravi deck i prmeni ja je i/3 a ne i/2 -->
    <div id="deck" class="deck">
        <div *ngFor="let card of this.gameEngineService.deck; let i = index" >
            <mat-card class="deck-card hover-cursor" [ngStyle]="setDeckCardPosition(i)" (click)="draw()"></mat-card>
        </div>
        <label class="deck-label">deck</label>
    </div>

    <!-- todo postavi graveyard i isto kao deck i/3 -->
    <div id="graveyard" class="graveyard">
        <div *ngFor="let card of this.gameEngineService.graveyard; let i = index" >
            <doc-card class="graveyard-card" [ngStyle]="setGraveyardCardPosition(i)" (click)="openGraveyard()" [card]='card' [covered]="false"></doc-card>
        </div>
        <label class="graveyard-label">graveyard</label>
    </div>

    <button (click)="endTurn()">TEST</button>

<!--    todo stavi zuti border kada hoverujes preko i selektujees onu koju zelis za izvuces sa P3 -->

    <div *ngIf="graveyardVisible" class="graveyard-display-center">
        <div style="height: 200%; width: 100%; position: absolute; z-index: -1"   (click)="closeGraveyard()"></div>
        <div class="graveyard-display">
            <div *ngFor="let card of this.gameEngineService.graveyard" fxFlex="90px">
                <doc-card class="card hover-cursor" style="scale: 70%; margin: -0.5rem" [card]='card' (click)="selectGraveyardCard(card)" [covered]="false"></doc-card>
            </div>
        </div>
    </div>

</div>
