/* GENERAL */

.full-border {
    position: fixed;
    background-color: #38a44c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-drop-area {
    height: calc((100% - 150px) / 3);
    width: calc((150% - 200px) / 3);
    bottom: 50%;
    position: absolute;
    transform: translate(0%, 50%);
    z-index: -1;
}

.timer {
    user-select: none;
    scale: 130%;
    color: orange;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 120px;
    height: 30px;
    font-style: italic;
    border-bottom: 2px orange solid;
}

.fa-hourglass {
    animation: hourglass 3s linear infinite;
}


@keyframes hourglass {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.player-hand-bottom {
    position: absolute;
    bottom: -7%;
}

.player-hand-top {
    position: absolute;
    top: -7%;
    transform: rotate(180deg);
}

.player-hand-left {
    position: absolute;
    bottom: 35%;
    left: 5%;
    transform: rotate(90deg);
    max-width: 120px;
}

.player-hand-right {
    position: absolute;
    bottom: 35%;
    right: 5%;
    transform: rotate(-90deg);
    max-width: 120px;
}

.table-border {
    border: 3px solid rgba(178, 178, 178, 0.4);
    border-radius: 15px;
    min-height: 150px;
    min-width: 100px;
}

.center-border {
    border: 3px solid rgba(0, 204, 255, 0.4);
    border-radius: 15px;
}


.table-cards-bottom {
    position: absolute;
    bottom: 15%;
}

.table-cards-top {
    position: absolute;
    top: 15%;
}

.table-cards-left {
    position: absolute;
    bottom: 30%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.table-cards-right {
    position: absolute;
    bottom: 30%;
    right: 20%;
    transform: translate(50%, -50%) rotate(-90deg);
}

.center-card-1 {
    position: absolute;
    bottom: 43%;
    left: 41%;
}

.center-card-arrow {
    position: absolute;
    bottom: 48%;
    left: 49.5%;
    font-size: 60px;
}

.center-card-text {
    position: absolute;
    bottom: 46%;
    left: 48.5%;
    font-style: italic;
    font-size: 25px;
}

.center-card-2 {
    position: absolute;
    bottom: 43%;
    right: 40%;
}

.deck {
    position: absolute;
    left: 30%;
    bottom: 43%;
    padding-bottom: 110px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 80px;
    border: 3px solid rgba(178, 178, 178, 0.4);
    border-radius: 15px;
}

.deck-label {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: -30%;
    font-size: 1.1em;
    font-style: italic;
    color: rgba(178, 178, 178, 0.8);
}

.deck-card {
    position: absolute;
    /*transform: translate(-50%, -50%);*/

    width: 72px;
    height: 100px;
    padding: 0;
    border: 1px solid lightgray;

    background-image: url("src/assets/red_backgournd.svg");
    background-position: center center;
    background-size: 100%;
}

.highlighted {
    border: #eaea04 5px solid;
    border-radius: 10px;
}

.hover-cursor:hover {
    cursor: pointer;
}

.counter-card-list {
    scale: 115%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    background-color: #1d5e2b;
    border: 14px solid #80511f;
    border-radius: 15px;
    padding: 15px;
    padding-top: 30px;
    max-height: 100px;
    min-width: 170px;
    top: 3%;
    right: 15%;
}

.counter-card-list-label {
    position: absolute;
    font-size: 20px;
    text-decoration: underline;
    color: #e1e1e1;
    top: 3%;
    left: 5%;
}

.graveyard-card {
    position: absolute;
    scale: 95%;
}

.graveyard {
    position: absolute;
    right: 30%;
    bottom: 43%;
    padding-bottom: 115px;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 85px;
    border: 3px solid rgba(178, 178, 178, 0.4);
    border-radius: 15px;
}

.graveyard-display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graveyard-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;

    background-color: #1d5e2b;
    border: 20px solid #80511f;
    border-radius: 20px;

    bottom: 20%;
    height: 500px;
    width: 800px;
    padding-left: 10px;
    padding-top: 30px;
}

.graveyard-label {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: -30%;
    font-size: 1.1em;
    font-style: italic;
    color: rgba(178, 178, 178, 0.8);
}

.graveyard-button {
    position: absolute;
    bottom: 20%;
    /*left: 10%;*/
}

.item {
    width: 100px;
    height: 50px;
    margin: 10px;
    position: relative;
}


.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
    font-size: 100px;
    color: #fdee00;

    z-index: 1;
    position: absolute;
    top: -5%;
}

.arrow2 {
    animation: slide2 1s ease-in-out infinite;
    margin-left: 9px;
    font-size: 100px;
    color: #fdee00;

    z-index: 1;
    position: absolute;
    top: 0;
    right: 44%;
}

.arrow3 {
    animation: slide3 1s ease-in-out infinite;
    margin-left: 9px;
    font-size: 100px;
    color: #fdee00;

    z-index: 1;
    position: absolute;
    top: -5%;
    right: 1%;
}

.arrow3:hover {
    color: #77f877;
}

.arrow2:hover {
    color: #77f877;
}

.arrow1:hover {
    color: #77f877;
}

/*@keyframes slide1 {*/
/*    0%,*/
/*    100% {*/
/*        transform: translate(0, 0) rotate(180deg);*/
/*    }*/

/*    50% {*/
/*        transform: translate(10px, 0) rotate(180deg);*/
/*    }*/
/*}*/


/*@keyframes slide2 {*/
/*    0%,*/
/*    100% {*/
/*        transform: translate(0, 0) rotate(-90deg);*/
/*    }*/

/*    50% {*/
/*        transform: translate(0px, 10px) rotate(-90deg);*/
/*    }*/
/*}*/


/*@keyframes slide3 {*/
/*    0%,*/
/*    100% {*/
/*        transform: translate(0, 0);*/
/*    }*/

/*    50% {*/
/*        transform: translate(-10px, 0);*/
/*    }*/
/*}*/

.discard-display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discard-display {
    scale: 120%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    background-color: #1d5e2b;
    border: 20px solid #80511f;
    border-radius: 20px;
    bottom: 40%;
    padding: 20px;
    max-height: 100px;
}
