
.full-border {
    position: fixed;
    background-color: #38a44c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 20px solid darkgreen;*/
    /*box-sizing: border-box;*/
    z-index: -1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*hand*/

.player-hand-bottom{
    position: absolute;
    bottom: 0;
}

.player-hand-top{
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}


.player-hand-left{
    position: absolute;
    bottom: 35%;
    left: 3%;
    transform: rotate(90deg);
}

.player-hand-right{
    position: absolute;
    bottom: 35%;
    right: 3%;
    transform: rotate(-90deg);
}


/*table cards*/

/*.dropAreaBorder{*/
/*    border: 5px dashed rgba(169, 169, 169, 0.7);*/
/*}*/

.table-cards-bottom{
    position: absolute;
    bottom: 20%;
}

.table-cards-top{
    position: absolute;
    top: 20%;
}

.table-cards-left{
    position: absolute;
    bottom: 30%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.table-cards-right{
    position: absolute;
    bottom: 30%;
    right: 20%;
    transform: translate(50%, -50%) rotate(-90deg);
}

/*deck*/

.deck{
    position: absolute;
    left: 38%;
    bottom: 55%;
}

.deck-card{
    position: absolute;
    transform: translate(-50%, -50%);

    width: 72px;
    height: 100px;
    padding: 0;
    border: 1px solid lightgray;

    background-image: url("src/assets/red_backgournd.svg");
    background-position: center center;
    background-size: 100%;
}


.graveyard-card{
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(-50%, -50%);
}
