<!--<p>THIS IS A ROOM {{gameAction.roomKey}}</p>-->

<div class="full-border">
    <div class="center-container" cdkDropListGroup>

        <app-card-row id="table_0"
                      *ngIf="visible[0]"
                      [style]="dropAreaBorder"
                      class="table-cards-{{this.cardPositionOnScreen[0]}}">
        </app-card-row>
        <app-card-row id="table_1"
                      *ngIf="visible[1]"
                      [style]="dropAreaBorder"
                      class="table-cards-{{this.cardPositionOnScreen[1]}}">
        </app-card-row>
        <app-card-row id="table_2" fxflex="90"
                      *ngIf="visible[2]"
                      [style]="dropAreaBorder"
                      class="table-cards-{{this.cardPositionOnScreen[2]}}">
        </app-card-row>
        <app-card-row id="table_3"
                      *ngIf="visible[3]"
                      [style]="dropAreaBorder"
                      class="table-cards-{{this.cardPositionOnScreen[3]}}">
        </app-card-row>


        <app-card-hand id="hand_0"
                       *ngIf="visible[0]"
                       (cdkDragStartedEvent)="cdkDragStartedFun()"
                       (cdkDragStoppedEvent)="cdkDragStoppedFun($event)"
                       class="player-hand-{{this.cardPositionOnScreen[0]}}">
        </app-card-hand>
        <app-card-hand id="hand_1"
                       *ngIf="visible[1]"
                       class="player-hand-{{this.cardPositionOnScreen[1]}}">
        </app-card-hand>
        <app-card-hand id="hand_2"
                       *ngIf="visible[2]"
                       class="player-hand-{{this.cardPositionOnScreen[2]}}">
        </app-card-hand>
        <app-card-hand id="hand_3"
                       *ngIf="visible[3]"
                       class="player-hand-{{this.cardPositionOnScreen[3]}}">
        </app-card-hand>
    </div>

<!-- todo zameni dek test za deck -->
    <div class="deck">
        <div *ngFor="let card of this.gameEngineService.deckTest; let i = index" >
            <mat-card class="deck-card" [ngStyle]="setDeckCardPosition(i)" (click)="draw()"></mat-card>
        </div>
    </div>

    <div class="graveyard">
        <div *ngFor="let card of this.gameEngineService.graveYardTest; let i = index" >
            <doc-card class="graveyard-card" [ngStyle]="setGraveyardCardPosition(i)" (click)="lookIntoGraveyard()" [card]='card' [covered]="false"></doc-card>
        </div>
    </div>

<!--    <button (click)="test()">KURAC</button>-->


<!--    <div class="graveyard-display-center">-->
<!--        <div class="graveyard-display">-->
<!--            <div *ngFor="let card of this.gameEngineService.graveYardTest"  fxFlex="90px"  >-->
<!--                <doc-card class="card" style="scale: 70%; margin: -0.5rem" [card]='card' [covered]="false"></doc-card>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>
