<!--<p>THIS IS A ROOM {{gameAction.roomKey}}</p>-->

<div class="full-border">
    <div class="center-container" cdkDropListGroup>

        <!--        todo stavi for loop sa mod tako da se uvek myNumber stavi na dno-->

        <app-card-row
            id="table_0"
            cdkDropList
            #test1="cdkDropList"
            [cdkDropListData]="this.gameEngineService.cardsTestTable"
            [cdkDropListConnectedTo]="[test2]"
            (cdkDropListDropped)="dropTest($event)"
            class="table-cards-{{this.cardPositionOnScreen[0]}}" [rowPlayerNumber]=0></app-card-row>

        <app-card-row id="table_1" class="table-cards-{{this.cardPositionOnScreen[1]}}" [rowPlayerNumber]=1></app-card-row>
        <app-card-row id="table_2" class="table-cards-{{this.cardPositionOnScreen[2]}}" [rowPlayerNumber]=2></app-card-row>
        <app-card-row id="table_3" class="table-cards-{{this.cardPositionOnScreen[3]}}" [rowPlayerNumber]=3></app-card-row>



        <app-card-hand
            id="hand_0"
            cdkDropList
            #test2="cdkDropList"
            [cdkDropListData]="this.gameEngineService.cardsTestHand"
            [cdkDropListConnectedTo]="[test1]"
            (cdkDropListDropped)="dropTest($event)"
            class="player-hand-{{this.cardPositionOnScreen[0]}}" [rowPlayerNumber]=0></app-card-hand>

        <app-card-hand id="hand_1" class="player-hand-{{this.cardPositionOnScreen[1]}}" [rowPlayerNumber]=1></app-card-hand>
        <app-card-hand id="hand_2" class="player-hand-{{this.cardPositionOnScreen[2]}}" [rowPlayerNumber]=2></app-card-hand>
        <app-card-hand id="hand_3" class="player-hand-{{this.cardPositionOnScreen[3]}}" [rowPlayerNumber]=3></app-card-hand>
    </div>

</div>


<!--    <div class="form-check">-->
<!--        <input [(ngModel)]="gameAction.actionType" class="form-check-input" type="text" id="actionType">-->
<!--        <label class="form-check-label" for="actionType">actionType</label>-->
<!--        <br>-->
<!--        <input [(ngModel)]="gameAction.fromPlayer" class="form-check-input" type="text" id="fromPlayer">-->
<!--        <label class="form-check-label" for="fromPlayer">fromPlayer</label>-->
<!--        <br>-->
<!--        <input [(ngModel)]="gameAction.cardPlayed" class="form-check-input" type="text" id="cardPlayed">-->
<!--        <label class="form-check-label" for="cardPlayed">cardPlayed</label>-->
<!--        <br>-->
<!--        <input [(ngModel)]="gameAction.ontoPlayer" class="form-check-input" type="number" id="ontoPlayer">-->
<!--        <label class="form-check-label" for="ontoPlayer">ontoPlayer</label>-->
<!--        <br>-->
<!--        <input [(ngModel)]="gameAction.ontoCardPlayed" class="form-check-input" type="text" id="ontoCardPlayed">-->
<!--        <label class="form-check-label" for="ontoCardPlayed">ontoCardPlayed</label>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-outline-primary" (click)="sendAction()">Test Action</button>-->
<!--    <button type="submit" class="btn btn-outline-primary" (click)="startRoom()">Start room</button>-->
<!--    <br>-->
