
/* GENERAL */

.full-border {
    position: fixed;
    background-color: #38a44c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-drop-area{
    height: calc((100% - 150px) / 3);
    width: calc((150% - 200px) / 3);
    bottom: 50%;
    position: absolute;
    transform: translate(0%, 50%);
    z-index: -1;
}


/* HAND CARDS */

.player-hand-bottom{
    position: absolute;
    bottom: -5%;
}

.player-hand-top{
    position: absolute;
    top: -5%;
    transform: rotate(180deg);
}

.player-hand-left{
    position: absolute;
    bottom: 35%;
    left: 3%;
    transform: rotate(90deg);
}

.player-hand-right{
    position: absolute;
    bottom: 35%;
    right: 3%;
    transform: rotate(-90deg);
}


/* TABLE CARDS */


.table-cards-bottom{
    position: absolute;
    bottom: 15%;
}

.table-cards-top{
    position: absolute;
    top: 15%;
}

.table-cards-left{
    position: absolute;
    bottom: 30%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.table-cards-right{
    position: absolute;
    bottom: 30%;
    right: 20%;
    transform: translate(50%, -50%) rotate(-90deg);
}

/* DECK */

.deck{
    position: absolute;
    left: 36%;
    bottom: 55%;
}

.deck-card{
    position: absolute;
    /*transform: translate(-50%, -50%);*/

    width: 72px;
    height: 100px;
    padding: 0;
    border: 1px solid lightgray;

    background-image: url("src/assets/red_backgournd.svg");
    background-position: center center;
    background-size: 100%;
}

/* GRAVEYARD */

.graveyard-card{
    position: absolute;
    scale: 90%;
}

.graveyard{
    position: absolute;
    right: 40%;
    bottom: 55%;
}

.graveyard-display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.graveyard-display{
    display: flex;
    position: absolute;
    background-color: gray;
    bottom: 20%;

    height: 500px;
    width: 1000px;

    border: 2px solid red;
}
