.custom-snackbar {
    background-color: darkred;
    border: 3px indianred solid;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: -180%;
    max-width: 300px;
}
