body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #50B26E, #38a44c, #2a7039);
}

.main{
    position: fixed;
    width: 800px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    /*background: linear-gradient(to bottom, #ccc8c6, #eee9e6, #fffdfd);*/
    background: #f9f8f5;
}

#chk{
    display: none;
}

.login{
    position: relative;
    width:100%;
    height: 100%;
}

.player-slots-label{
    color: #414141;
    font-size: 1.7em;
    margin-left: 2%;
    font-weight: bold;
}

.custom-label{
    color: black;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-weight: bold;
}

.divider {
    margin-top: 60px;
    height: 10px; /* Adjust the height of the divider line */
    background-color: #ddd; /* Set the background color of the divider */
}

.player-pills{
    width: 100px;
    background-color: #ddd;
    border: 2px solid black;
    color: black;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.player-pills:hover{
    background: #b7b7b7;
}

.player-pill-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-gen-btn{
    scale: 120%;
    width: 150px;
}

.player-slots-div{
    width: 60.5%;
    background-color: #E0DEDEFF;
    border-radius: 20px;
    padding: 10px;
}

input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #472b72;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover{
    background: #6d44b8;
}

.signup{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.signup label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .signup{
    transform: translateY(-500px);
}
#chk:checked ~ .signup label{
    transform: scale(1);
}
#chk:checked ~ .login label{
    transform: scale(.6);
}
