<!DOCTYPE html>
<html>
<head>
    <title>Room setup</title>

</head>
<body id="all-body" style="margin: 0">

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">



    <div>
        <form>
            <label class="custom-label" for="chk" aria-hidden="true">Join room</label>
            <input [(ngModel)]="joinRoomKey" style="font-weight: bold" id="join" type="text" name="txt" placeholder="Key" required="">
            <button class="start-gen-btn" (click)="joinRoom()">Join</button>
        </form>
    </div>

    <div class="divider"></div>

    <div>
        <form >
            <label class="custom-label" for="chk" aria-hidden="true">Create room</label>
            <input  [(ngModel)]="createRoomKey" style="font-weight: bold" readonly="readonly" id="genKey" type="text" name="txt" placeholder="Your room key" required>

            <div  style="display: flex; justify-content: center; align-items: center;">
                <div class="player-slots-div">
                    <label class="player-slots-label" for="player-slots" aria-hidden="true">Players in room</label>
                    <div id="player-slots" class="player-pill-container">
                        <button class="btn player-pills">{{playersInRoom[0]}}</button>
                        <button class="btn player-pills">{{playersInRoom[1]}}</button>
                        <button class="btn player-pills">{{playersInRoom[2]}}</button>
                        <button class="btn player-pills">{{playersInRoom[3]}}</button>
                    </div>
                </div>
            </div>
            <div class="player-pill-container">
                <button class="start-gen-btn" style="margin-right: 50px" (click)="createRoom()">Create room</button>
                <button class="start-gen-btn" style="margin-left: 50px" [ngStyle]="startRoomBtnVisible()" (click)="startRoom()">Start room</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>


