<div>
    <p>CREATE OR JOIN A ROOM</p>

    <div class="separator"></div>

    <div class="form-check">
        <input [(ngModel)]="joinRoomKey" class="form-check-input" type="text" id="joinRoomKey">
        <label class="form-check-label" for="joinRoomKey">Input room key to join</label>
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)="joinRoom()">Join</button>

    <p></p>


    <div class="form-check">
        <input [(ngModel)]="createRoomKey" disabled="true" class="form-check-input" type="text" id="createRoomKey">
        <label class="form-check-label" for="createRoomKey">Your room key</label>
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)="createRoom()">Generate</button>

</div>
