<mat-card id="{{this.value + '_' + this.suit}}" class="card" [style]="isRotated()" >
    <ng-container *ngIf="!covered; else elseBlock">
        <!-- Display this content if condition is true -->
        <div class="suit-image top-left" [ngClass]="suit"></div>
        <div *ngIf="jacksOnTopOfCard.length != 0" class="suit-image top-left-number {{color}}" style="scale: 90%">{{value}}</div>
        <div class="card-name {{color}}">{{value}}</div>
        <div class="suit-image bottom-right" [ngClass]="suit"></div>
    </ng-container>
    <ng-template #elseBlock>
        <!-- todo ovo mora da se promeni jer ne sme da stoji tacka -->
        <div class=" covered-image covered"></div>
    </ng-template>
</mat-card>

<div *ngFor="let jackCard of jacksOnTopOfCard; let i = index">
    <mat-card class="card jacked{{i}}">
        <ng-container>
            <div class="suit-image top-left" [ngClass]="this.jacksOnTopOfCardMap.get(i)![1]"></div>
            <div class="suit-image top-left-number {{this.jacksOnTopOfCardMap.get(i)![2]}}" style="scale: 90%">{{this.jacksOnTopOfCardMap.get(i)![0]}}</div>
            <div class="card-name {{this.jacksOnTopOfCardMap.get(i)![2]}}">{{this.jacksOnTopOfCardMap.get(i)![0]}}</div>
            <div class="suit-image bottom-right" [ngClass]="this.jacksOnTopOfCardMap.get(i)![1]"></div>
        </ng-container>
    </mat-card>
</div>


