<mat-card class="card" (click)="click()">
    <ng-container *ngIf="!covered; else elseBlock">
        <!-- Display this content if condition is true -->
        <div class="suit-image top-left" [ngClass]="suit"></div>
        <div class="card-name {{color}}">{{value}}</div>
        <div class="suit-image bottom-right" [ngClass]="suit"></div>
    </ng-container>
    <ng-template #elseBlock>
        <!-- todo ovo mora da se promeni jer ne sme da stoji tacka -->
        <div class=" covered-image covered">.</div>
    </ng-template>
</mat-card>
